<h1> WELCOME TO THE HOSPITAL INFORMATION MANAGEMENT SYSTEM</h1>

<%= link_to "Doctors List", doctors_path , class: 'btn btn-primary'%>
<%= link_to "Patients List", patients_path , class: 'btn btn-primary'%>
